button:focus {outline:0 !important;}

.carousel-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  border-radius: 0.2rem;
}

.swiper-box {
  position: relative;
}

.swiper-custom {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: 40% !important;
  margin-top: -2rem !important;
  padding: 1.5em 0.25rem;
}

.swiper-custom-next {
  margin-right: -2.8rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.swiper-custom-prev {
  margin-left: -2.8rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

@media only screen and (max-width: 350px) {
  .swiper-custom {
    padding: 1.2em 0.12rem;
  }

  .swiper-custom-prev {
    margin-left: -2.51rem;
  }

  .swiper-custom-next {
    margin-right: -2.51rem;
  }
}